body
{
    background-color: rgb(169, 218, 129);
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e3e1df;
}

#logo
{
    margin-top: 20px;
    padding: 10px;
}

#logo_L
{
    float: left;
}

#logo_R
{
    float: left;
    color: black;
    font-size: 50px;
    font-family: 'Lobster', cursive;
    letter-spacing: 5px;
    text-align: center;
    width: 740px;
    padding: 20px;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(230, 216, 24);
}

#topbar
{
    background-color: #bdbdbd;
    padding: 10px 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.option
{
    background-color: #FFFFFF;
    float: left;
    padding: 10px;
    font-size: 18px;
    color: #3498db;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border: 2px solid #3498db;
    font-family: 'Montserrat', sans-serif;
}

.option:hover
{
    background-color: #3498db;
    color: #FFFFFF;
    cursor: pointer;
}

#content_przepisu
{
    margin-top: 20px;
}

#content_index
{
    margin-top: 20px;
    padding: 20px 60px;
    text-align: justify;
    font-size: 20px;
}

#content_logowanie_rejestracja
{
    min-height: 400px;
}

.panel_logowania_rejestracji_konta
{
    float: left;
    width: 420px;
    padding: 40px;
}

#footer
{
    text-align: center;
    font-size: 16px;
    color: black;
    margin-top: 20px;
    padding: 10px;
    background-color: #bdbdbd;
}

#title_1
{
    text-align: center;
    font-size: 35px;
    padding: 20px;
}

#image
{
    float: left;
    width: 358px;
    padding: 20px;
    text-align: center;
    border-right: 2px dashed black;
}

#components
{
    float: left;
    width: 540px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

#preparation
{
    clear: both;
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 20px;
    text-align: justify;
}

.name
{
    font-size: 30px;
    font-weight: 700;
}

#content_account
{
    min-height: 400px;
}

ol
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    height: 35px;
    line-height: 200%;
    display: inline-block;
}

ol a
{
    color: black;
    text-decoration: none;
    display: block;
}

ol > li
{
    float: left;
    width: 150px;
    height: 40px;
    border-right: 1px solid white;
}

ol > li:first-child
{
    border-left: 1px solid white;
}

ol > li:hover
{
    background-color: #a1a09a;
}

ol > li:hover > a
{
    color: white;
}

ol > li > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 40px;
    display: none;
}

ol > li:hover > ul
{
    display: block;
}

ol > li > ul > li
{
    background-color: #d4d0cd;
    position: relative;
    z-index: 100;
    border-top: 1px solid white;
}

ol > li > ul > li:hover
{
    background-color: #a1a09a;
}

ol > li > ul > li:hover > a
{
    color: white;
}

.success {
    background-color: rgb(17, 250, 9);
    position: absolute;
    padding: 10px;
    right: 0px;
    top: 0px;
    text-align: center;
    font-size: 120%;
    width: 100%;

    display: block;
}

.alert {
    background-color: rgb(252, 159, 54);
    position: absolute;
    padding: 10px;
    right: 0px;
    top: 0px;
    text-align: center;
    font-size: 120%;
    width: 100%;
}

.error {
    background-color: rgb(255, 0, 0);
    position: absolute;
    padding: 10px;
    right: 0px;
    top: 0px;
    text-align: center;
    font-size: 120%;
    width: 100%;
}

.info {
    background-color: rgb(77, 179, 226);
    position: absolute;
    padding: 10px;
    right: 0px;
    top: 0px;
    text-align: center;
    font-size: 120%;
    width: 100%;
}

input[name=close]{
    position: absolute;
    height: 30px;
    width: 30px;
    right: 20px;
    border: none;
    border-radius: 8px;
    background-color: inherit;
    font-size: 25px;
}

#recover-password {
    padding: 10px;
    height: 80px;
}

#content-recipe
{
    width: 1000px;
}

.box-recipe
{
    width: 1000px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.box-recipe-left
{
    float: left;
    width: 300px;
}

.box-recipe a
{
    color: black;
    text-decoration: none;
}

.box-recipe:hover
{
    background-color: #d2d0ce;
}

.box-recipe-right
{
    float: left;
    width: 700px;
}

.title-recipe
{
    text-align: center;
    height: 50px;
    font-size: 20px;
}

.photo-recipe
{
    text-align: center;
}

.content-recipe1
{
    text-align: justify;
    padding-top: 30px;
    padding-right: 50px;
    height: 180px;
}

.user-recipe
{
    float: left;
    width: 350px;
}

.date-recipe
{
    float: left;
    width: 350px;
}

.user-modify-recipe {
    position: relative;
    left: 65px;
}

.user-modify-recipe > a {
    background-color: #bdbdbd;
    color: black;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
}

.pagination {
    text-align: center;
}

.paginator {
    display: inline-block;
    margin-left: 5px;
    color: black;
    padding: 6px 10px;
    text-decoration: none;
    background-color: #bdbdbd;
    border-radius: 5px;
}

.paginator:hover {
    background-color: white;
}

.present {
    background-color: #707070;
    color: white;
}